/*
GENERAL SETTINGS
*/
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a;
}

main{
    height: 100vh;
}

.title h1{
    text-align: center;
    padding-top: 50px;
    color: #007bff;
}

.text_cont{
    color: #007bff;
}

.c_boot{
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 50px;
}

.text_white{
    color: white;
}

input, select{
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #007bff;
}

button{
    background-color: #007bff;
    padding: 5px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
}

.refresh_btn{
    background-color: red;
}